@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565678797850'); /* IE9 */
  src: url('iconfont.eot?t=1565678797850#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABrwAAAKMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEUATYCJAMMCwgABCAFhG0HRhvqBRHVkzdkXxXYDffO4MvtXZm8Y29dhEqqY6CyGysSIsF8PggCWyNn4faJUBKiYiqiUSxMZdXHF4hsj0J2920IkSdStjOvbs41TerJRr0cydknj76QtsPssuyhcET7f4C9rwHHTJdAA8kDmlN1a9MAJzjQyCTbg/wL8g9jF7iE7RCAM+FSibKKujYc0Vj9BCDmpieHccz50WiWckRgaqbqRnEJC0d5Wg4uhj8vvsjOESSWwhraNFE+RtF71/evXXtXn08gAAI42wIUkAo0iIHaeBcKwWgKZ7luzzVoBHKuEAj5utTY//BAIkAYrGJXABJRQsJ7V5efKlqh8K63UgAYQAPRIJOl9h37ZunkYfSG+7XdncfNvf3QjTPbsWvXD53t188ebvovTLWsLDWt++B9VyVc8r2Ej3Ep2inawXQ+W+K/2jG7s5Olh6/cD9u3u9y/HPx64xkC91T+sgrsC2t2f+HvMHvrQ+igR94/x0QD8Gh1x6GwXyE4IqG34IeV6a+wbY2LLIPSqoxWvulUBI60SoBc7sLGcnt7Pl7td1NJgSN+KSQOhEHhSCxRU1Nh4UIuDI4UwpkUlbNd8DGPQmgnINkRgMDTHUjceQCFp2Oipj6Dhb9vMHimwMfebZZMHGvjE6MStKD/0BqanGOSOCq9o18HxVlRSH8jL20Iqrwspm44Ic8xYvn4WsSBYxrhCnbDYSCYmTo0kgeRuSkKV/eh3NAYxU4YUgSygPYHWgaZOL+1iEvfv0PeaqBwS02N8w2xRds+qOTKHsSbfOpVcy+3LD68mhAOcBgZgSvohAYDAub6Th1kiFwYEZ01CruZ6yvP11eOH5DHGrD+qE7TSv/aWkW2nbxes4ytiiI=') format('woff2'),
  url('iconfont.woff?t=1565678797850') format('woff'),
  url('iconfont.ttf?t=1565678797850') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565678797850#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidaodingbu1:before {
  content: "\e60c";
}

