@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565720885483'); /* IE9 */
  src: url('iconfont.eot?t=1565720885483#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqAAAAKZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIE+ATYCJAMICwYABCAFhG0HMBvkBREVjE+yHwl2TOR/YCUsNpVibHATPP+/P7597j0PH0ZSAzFkgtqrA6KUcZ01SYhwgl8DBBCY3ZqO4d6oCNUle556lv+R/92RhnUep1EKIRESn7h3+ltAgcx3XrnMMWlSF2AcSAHtjVFkBRKAN4xd4BIeQ4BIcqlGOroGJvBRrFUCyPo1q5bg58IoynI+gltzUJH9OPhmh7kP7Au/Lx+pER8MjsVqGFnZuZyWNz/sAhuEgfk+QQQEdNwBLFANKMhEbXoIizC6JZJXKQQUjb35EYbYiuz1z0NcrOpoALKh+J4krvRWuQ0ACqOhDhgfdRXYmJjMJY8fTz15Mv3o0eTDhxMeEsbCvLBm0mz05JHg+s7UqaNp9mXTx3ZdCZInYnYdCQ5Hhs039M/f3QDGP388hVJxSvwt6L5iX760KHH15YsraguwIL7QXnn58oq9d7F8w8atqaRuPXPmZE72SSgwL4tL27phY3n017Sv0bQAEN62trb5Z/6GtTUHHyyKa/jmRykAz7YX1ofB8LbSzwv+KT0Cv07Ss0d1mWUxqkpq84Y67C01RRIJhGB/Iq/H6lPu0yn4OQmDwSMHFp9iktKq4RBFXcTF51zVgIxUZYDHoyQhe7IIoNIbQMT7wIh1C1a8L0lpPzhS/eGKb49IUyVdGKW0INoJJaMB9YKgp9E6NhZR7RHdLUvKykLGFWkNMWirppgbcESaY8t6dx2zBUtTgQN4DnOeYKYpoubKM899Xdu6N1V6KhuhHUESQwZQXkCgTUbWH8xE6fNHyLnJJGrpqvFfIbIK44NWpelBGtRjr657eWV153QYs4BFJgU4ACfKdnoC5vp5EdJYxY9Izno16mf7qqv1teXrDgGRLIPJnmVxL0d/C5sNAAAA') format('woff2'),
  url('iconfont.woff?t=1565720885483') format('woff'),
  url('iconfont.ttf?t=1565720885483') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565720885483#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e6f7";
}

